 filter=lfs diff=lfs merge=lfs -text
configs filter=lfs diff=lfs merge=lfs -text
run.py filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
shape_generate filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
checkpoints filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
output.gif filter=lfs diff=lfs merge=lfs -text
output.png filter=lfs diff=lfs merge=lfs -text
